<h2>
    Hola {{usuario}}
    <a type="submit" class="btn btn-primary"
        onclick="return confirm('¿Esta seguro que desea salir')" href='/salir'>Salir</a>
</h2>


<br>
<div class="row justify-content-evenly">

    <h1>Inicio</h1>

</div>
<br>

